@page "/Help"

<h3>Help and FAQ</h3>
<hr />
<strong>What is a social grant?</strong>
<p>A social grant refers to grants paid by government to South African citizens who are in need of assistance. In South Africa, social grants are administered by SASSA.
Social grants are in place to help improve standards of living in society and are given to people who are vulnerable to poverty and in need of state support. These generally include older people, people with disabilities, and people with young children.
All applicants for social grants must be South African citizens, permanent residents or refugees (official refugee status granted by the South African government must be provided) and candidates must be living in South Africa.
</p><hr />
<strong>What is a means test?</strong>
<p>Some social grants, such as old age pension, social relief of distress grant, disability grant, care dependency grant and the child support grant is subject to a "means test".
The aim of the means test is to determine if you're eligible to apply for a social grant, SASSA will evaluate your income and assets in order to determine whether you qualify to apply. The means test is simply a way of determining whether you qualify to receive a grant that's meant for those who have insufficient means to support themselves.
</p><hr />

<strong>Care dependency grant</strong>
<p>
    Care dependency grant offers help to full-time caregivers of a child / children with disabilities.
    What is the monetary amount of this grant?
</p>

<p>R1 860 per child, per month.<br />
How do you know if you qualify for the grant?</p>

<p>In order to qualify for the care dependency grant, the child must be found permanently disabled by a medical officer and must be under the age of 18.
If you're married, you and your spouse must meet the minimum qualifying requirements of the means test.</p>
<hr />

<strong>Child support grant</strong>
<p>
    To receive this grant you must be the primary caregiver of a child. The child must be under the age of 18 years old and must live in South Africa.
    What is the monetary amount of this grant?
</p>

<p>R445 per month per child.<br />
How do you know if you qualify for this grant?</p>

<p>Biological parents or caregivers can apply for a child support grant. If you're not the biological parent of the child, you'll have to provide proof that you're the primary caregiver.
If you're married, you and your spouse must meet the requirements of a means test to qualify.</p>
<hr />

<strong>Disability grant</strong>
<p>The disability grant is available on a permanent or temporary basis for between 6 and 12 months. When your temporary grant expires and you haven't fully recovered to return to work, you'll need to apply for the grant again. If you're receiving other grants, you can't receive a disability grant.
What is the monetary amount of this grant?</p>

<p>R1 860 per month.<br />
How do you know if you qualify for the grant?<br />
Applicants must be between the ages of 18 and 59 years old. When applying, you'll need to submit a medical assessment or report confirming the disability not older than 3 months at the date of application.
If you're married, your spouse must comply with a means test.</p>
<hr />

<strong>Foster child grant</strong>
<p>If you're taking care of a foster child and need financial assistance, you can apply for a foster child grant. Here's a list of the other important qualifying requirements you need to meet.
What is the monetary amount of this grant?
R1040 a month per child.<br />
How do you know if you qualify for the grant?</p>

<p>To qualify for a foster child grant, you and the child you're taking care of must live in South Africa. When applying, you must provide a court order indicating foster care status as well as a birth certificate of the child.
The child must be 18 years or younger.</p><hr />


<strong>Grants for older persons (old age pension)</strong>
<p>What is the monetary amount of this grant?</p>

<p>Pensioners over 60 years of age will get R1 860.
How do you know if you qualify for this grant?</p>

<p>In order to qualify for this grant, you must be 60 years of age or older, however, you can't receive an old age pension if you're in a state institution, such as a care facility. If you're already receiving another grant you'll not qualify for an old age pension.
If you're married, your spouse must comply with a means test.</p><hr />


<strong>Grant in aid</strong>
<p>
    This is an extra grant for people already receiving a disability, older persons grant or war veterans grant. Individuals who are diagnosed with mental or physical or mental disabilities.
    What is the monetary amount of this grant?
</p>

<p>R420 per person.<br />
How do you know if you qualify for this grant?</p>

<p>If you're receiving a social grant but unable to look after yourself, you can apply for a grant in aid</p><hr />


<strong>Social relief of distress</strong>
<p>This grant is a temporary grant that's paid for a maximum of 3 months to people in desperate need of financial assistance. The amount of the social relief of distress grant is subject to a means test.
What is the monetary amount of this grant?</p>

<p>The amount will vary and is determined by the result of the means test.
How do you know if you qualify for the grant?</p>

<p>You qualify for a social relief of distress grant if the breadwinner of your household has been found medically unfit to work for less than 6 months or if the breadwinner of the household has been admitted to a private institution for at least 1 month.
You may also qualify if you've been affected by a disaster, but the area or community you live in has not been declared a disaster area.</p>
<hr />

<strong>War veteran's grant</strong>
<p>The war veterans grant is made available for persons who fought in World War l, World War ll or the Korean War.
What is the monetary amount iof this grant?</p>

<p>Up to R1 880. The amount will vary and is determined by the result of the means test.
How do you know if you qualify for the grant?</p>

<p>To qualify for this grant, you must be over the age of 60 years old or disabled. You can't be a recipient of other grants or be cared for in a state institution.</p>
<hr />

<strong>Use the following tips to keep safe when collecting your grant:</strong>
<p>Be wary of people loitering around the ATM and ensure that you're not followed.
Check your balance regularly and report discrepancies to your bank immediately.
After you have completed your transaction successfully, leave the ATM area immediately. Be cautious of strangers requesting that you return to finalise or close the transaction because they're unable to transact. They may be skimming your card.
Some fraudsters wait until you've drawn your cash to take advantage.
Take your time to complete your transaction and secure your card and your cash in your wallet, handbag or pocket before leaving the ATM.</p>

<strong>Phone the toll-free helpline at 0800 601 011 for information on:</strong>
<ul>
    <li>Pay-out dates.</li>
    <li>Qualifying rules for all government grants.</li>
    <li>District office addresses and contact numbers.
    </li>
    <li>For help with what has happened to your application.
    </li>
    <li>How you can also report any fraud or corruption.</li>
</ul>
<hr />

<strong>Reporting grant fraud</strong>
<p>It's your responsibility to report any suspected fraudulent or corrupt activities relating to social grants. You can do so by phoning SASSA's grants and fraud hotline on 0800 601 011.</p>
<hr />


