@page "/"
@inject MaintenanceService service

<h3>Home</h3>
<hr />
@if (ShowMaintenance)
{
    <div class="modal" tabindex="-1" style="display:block;top:200px;" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <h5 class="modal-title">Upcoming Maintenance</h5>
                    </div>
                    <div class="modal-body">
                        @((MarkupString)service.Message)
                    </div>
                    <div class="modal-footer">
                        <button class="btn-primary" @onclick="Ok">Ok</button>
                    </div>
                </div>
            </div>
    </div>
}
<p>@((MarkupString)Blurps.LeftHomeText)</p>
<p>@((MarkupString)Blurps.RightHomeText)</p>
<hr />

@code
{        
    bool ShowMaintenance;
    protected override void OnInitialized()
    {
        ShowMaintenance = service.Active;
    }

    void Ok()
    {
        ShowMaintenance = false;
    }
}