@inject BRMDbService db
@inject NavigationManager navigation
<AuthorizeView>
    @if (gsession != null)
    {
        <div style="width: 100%;">
            <div style="float:right; width: 100%; margin-top:4px;">
                <label class="divUserDetail" style="margin-left: 10px">@gsession.Name</label>
                <label class="divUserDetail" style="margin-left: 10px">@(gsession.Office.OfficeName + $" :{ServicePoint} :"+ gsession.Office.RegionName)</label>
            </div>
        </div>
    }
</AuthorizeView>

@code
{

    UserSession gsession;
    string ServicePoint;

    protected override async Task OnInitializedAsync()
    {
        db.SessionInitialized += new EventHandler(OnSessionChanged);
        if (db.session == null)
        {
            try
            {
                await db.GetLocalOffice();
                ServicePoint = db.GetServicePointName(db.session.Office.FspId);
            }
           catch
            {
                //Initializing error
            }

        }
        else
        {
            gsession = db.session;
            ServicePoint = db.GetServicePointName(db.session.Office.FspId);
        }
    }

    private void OnSessionChanged(object sender, EventArgs args)
    {
        gsession = db.session;
        ServicePoint = db.GetServicePointName(db.session.Office.FspId);
        StateHasChanged();
    }
}

