<!-- Bootstrap Modal Dialog -->
<div class="modal" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0973B6">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                <div>
                    <p>@Message</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="btnCancel_Click">Cancel</button>
                    <button ID="btnFileDetail" class="btn btn-primary active" @onclick="btnOk_Click" >Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback Ok { get; set; }
    [Parameter]
    public EventCallback Cancel { get; set; }

    protected void btnOk_Click()
    {
        Ok.InvokeAsync();
    }
    protected void btnCancel_Click()
    {
        Cancel.InvokeAsync();
    }

}
