@page "/ContactLimpopo"

<h3>ContactLimpopo</h3>
<hr />
<div class="centerContent">
    <section class="sectionPart">Limpopo Service Offices</section>
    <div class="containerDiv">
        <table id="table5">
            <tbody>
                <tr>
                    <th>District</th>
                    <th>Local Office</th>
                    <th>Manager</th>
                    <th>Telephone Number</th>
                    <th>Cellphone Number</th>
                </tr>
                <tr>
                    <td>Bohlabela</td>
                    <td>Bushbuckridge</td>
                    <td>Mr. Mabunda A</td>
                    <td>013 773 1021</td>
                    <td>082 662 7830</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Maruleng: Sekororo</td>
                    <td>Mrs. Mafogo M.V.</td>
                    <td>015 291 7572</td>
                    <td>082 430 4161</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Capricorn</td>
                    <td>Aganang</td>
                    <td>Mr. Lekganyane</td>
                    <td>015 284 6060</td>
                    <td>073 058 3767</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Blouberg</td>
                    <td>Mr. Thema</td>
                    <td>015 284 6121</td>
                    <td>082 443 1262</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lepelle-Nkumpi</td>
                    <td>Mr. Lesenya</td>
                    <td>015 284 6075</td>
                    <td>072 997 9776</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Molemole</td>
                    <td>Mr.Ramonetha</td>
                    <td>015 284 6090</td>
                    <td>082 334 8251</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Polokwane</td>
                    <td>Ms. Mampa</td>
                    <td>015 284 6049</td>
                    <td>082 702 1532</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mopani</td>
                    <td>Greater Giyani</td>
                    <td>Ms Mashele R</td>
                    <td>015 306 9353</td>
                    <td>082 783 7287</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Greater Tzaneen</td>
                    <td>Mr.Mampheko J</td>
                    <td>015 306 9333</td>
                    <td>076 431 6061</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Greater Letaba</td>
                    <td>Mr.Ramoshaba G</td>
                    <td>015 306 9377</td>
                    <td>082 556 2868</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ba-Phalaborwa</td>
                    <td>Ms.Mphela I.</td>
                    <td>015 783 0281</td>
                    <td>076241 5202</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sekhukhune</td>
                    <td>Fetakgomo</td>
                    <td>Mr.Seloga</td>
                    <td>-</td>
                    <td>082 820 2127</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tubatse</td>
                    <td>Ms. Morena P</td>
                    <td>-</td>
                    <td>072 737 9615</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ephraim Mogale</td>
                    <td>Mr. Sekwati</td>
                    <td>-</td>
                    <td>082 673 3483</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Elias Motsoaledi</td>
                    <td>Ms. Sekele A</td>
                    <td>-</td>
                    <td>082 672 8344</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Makhuduthamaga</td>
                    <td>Mr. Mosotho</td>
                    <td>015 633 2465</td>
                    <td>072 359 0636</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Vhembe</td>
                    <td>Makhado</td>
                    <td>Netshifefe</td>
                    <td>015 960 3281</td>
                    <td>079 210 5473</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Mutale</td>
                    <td>Mr.Nembuda</td>
                    <td>-</td>
                    <td>082 963 8468</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Musina</td>
                    <td>Ms Khosa J</td>
                    <td>015 960 3279</td>
                    <td>083 561 5912</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Thulamela</td>
                    <td>Mr.Mudzanani</td>
                    <td>015 960 3257</td>
                    <td>072 301 5834</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Waterberg</td>
                    <td>Mogalakwena</td>
                    <td>Mr. Pila</td>
                    <td>015 409 2010</td>
                    <td>082 8014 773</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bela Bela</td>
                    <td>Mr. Maluleke</td>
                    <td>014 736 2190</td>
                    <td>072 1973 600</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Mookgopong</td>
                    <td>Matlhabe L</td>
                    <td>014 743 3160</td>
                    <td>079 139 5481</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lephalale</td>
                    <td>Mr.Selukela</td>
                    <td>014 763 1921</td>
                    <td>083 571 6452</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Modimolle</td>
                    <td>Mr.Sethosa</td>
                    <td>014 718 3536</td>
                    <td>082 958 0459</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Thabazimbi</td>
                    <td>Mr.Mataboge</td>
                    <td>-</td>
                    <td>082 309 2583</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
@code {

}
