    

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ContactUs">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Declaration">Declaration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Disclaimer">Disclaimer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Help">Help</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>*@
    </ul>
