@page "/Disclaimer"

<h3>Disclaimer</h3>
<hr />
<p>
    While every reasonable effort is made to maintain current and accurate information on this site, SASSA accepts no responsibility for any errors or omissions on these pages or any site to which the site pages link, or for direct or indirect damage as a result of the usage or quoting the content on the site or the information delivered or not delivered.
</p>
<p>
    Where appropriate, external links have been provided for the user's convenience. SASSA is not responsible for the content or reliability of linked websites and does not necessarily endorse the view expressed within them. Listing shall not be taken as endorsement of any kind. SASSA cannot guarantee that these links will work all of the time and has no control over the availability of the linked sites or pages.
</p>

