@page "/NewContact"

<h3>Contact Us</h3>
<hr />
<div style="text-align: center;">
    <strong>Contact Us</strong>
    <strong>HEAD OFFICE</strong>
    <p>
        SASSA HOUSE<br />
        501 Prodinsa Building, Cnr Beatrix and Pretorius streets, Pretoria<br />
        Private Bag X55662, Arcadia, Pretoria, 0083<br />
        <br />
        0800601011 or 0124002322<br />
        <br />
        GrantsEnquiries@sassa.gov.za  Web: <a href="http://www.sassa.gov.za">www.sassa.gov.za</a><br />
     </p>
</div>
<div class="addresstext">
    <table>
        <tr>
            <td>
                <strong>EASTERN CAPE</strong><br />

                1st Floor<br />
                Waverley Office Park<br />
                3-33 Phillip Frame Road<br />
                <br />
                Private Bag X9001<br />
                Chiselhurst<br />
                East London, 5200<br />
                <br />
                Tel: 043 707 6335<br />
                Fax: 043 707 6487<br />
                <br />
                GrantsEnquiriesEC@sassa.gov.za<br />
                ECCustomerCare@sassa.gov.za<br />
                <br />
            </td>
            <td>
                <strong>FREE STATE</strong><br />

                African Life Building<br />
                75 St Andrew Street<br />
                Bloemfontein<br />
                <br />
                Private Bag X20553<br />
                Bloemfontein<br />
                9300<br />
                <br />
                Tel: 0514108339<br />
                Fax: 0514090862<br />
                <br />
                GrantsEnquiriesFS@sassa.gov.za<br />
                <br />
            </td>
            <td>
                <strong>GAUTENG</strong><br />

                28 Harrison Street<br />
                Johannesburg<br />
                2000<br />
                <br />
                Private Bag X120<br />
                Marshalltown<br />
                2107<br />
                <br />
                Tel: 011 241 8320<br />
                Fax: 011 241 8305<br />
                <br />
                GrantsEnquiriesGP@sassa.gov.za<br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>KWAZULU-NATAL</strong><br />

                1 Bank Street<br />
                Pietermarilzburg<br />
                3201<br />
                <br />
                Private Bag X 9146<br />
                Pietermarilzburg<br />
                3201<br />
                <br />
                Tel: 033 846 3400<br />
                Fax: 033 846 9595<br />
                <br />
                GrantsEnquiriesKZN@sassa.gov.za<br />
                <br />
            </td>
            <td>
                <strong>LIMPOPO</strong><br />

                43 Landros Mare Street<br />
                Polokwane<br />
                0699<br />
                <br />
                Private Bag X9677<br />
                Polokwane<br />
                0700<br />
                <br />
                Tel: 015 2917509<br />
                Fax: 015291 7416<br />
                <br />
                GrantsEnquiriesLIM@sassa.gov.za<br />
                CustomerCareLim@sassa.gov.za<br />
                <br />
            </td>
            <td>
                <strong>MPUMALANGA</strong><br />

                18 Ferreira Street<br />
                Nelspruit<br />
                <br />
                Private Bag X11230<br />
                Nelspruit<br />
                1200<br />
                <br />
                Tel: 013 754 9446<br />
                Fax: 013 754 9501<br />
                <br />
                GrantsEnquiriesMP@sassa.gov.za<br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>NORTHWEST</strong><br />

                SASSAHouse<br />
                University Drive<br />
                Mmabatho<br />
                2735<br />
                <br />
                Private Bag X44<br />
                Mmabatho<br />
                <br />
                Tel: 018 388 4006<br />
                Fax: 086 611 9740<br />
                <br />
                GrantsEnquiriesnw@sassa.gov.za<br />
                sassanwqueries@net1.com<br />
                <br />
            </td>
            <td>
                <strong>NORTHERN CAPE</strong><br />

                95-97 Du Toitspan Road<br />
                Kimberley<br />
                8300<br />
                <br />
                Private Bag X6011<br />
                Kimberley<br />
                8300<br />
                <br />
                Tel: 053 802 4919<br />
                Fax: 0538325225<br />
                <br />
                GrantsEnquiriesNC@sassa.gov.za<br />
                <br />
            </td>
            <td>
                <strong>WESTERN CAPE</strong><br />

                Golden Acre<br />
                Adderley Street<br />
                Cape Town<br />
                8000<br />
                <br />
                Private Bag X9189<br />
                Cape Town<br />
                8000<br />
                <br />
                Tel: 0214690235<br />
                Fax: 0214690260<br />
                <br />
                GrantsEnquiriesWC@sassa.gov.za<br />
                <br />
            </td>
        </tr>
    </table>
</div>
<br />
<p>
    Phone the toll-free helpline at <strong>0800 601 011</strong> for information on pay-out dates.
</p>
<p>
    Qualifying rules for all government grants.<br />
    District office addresses and contact numbers.<br />
    For help with what has happened to your application.<br />
    How you can also report any fraud or corruption.<br />
</p>

<p><strong>Reporting grant fraud</strong></p>
<p>
    It's your responsibility to report any suspected fraudulent or corrupt activities relating to social grants. You can do so by phoning SASSA's grants and fraud hotline on 0800 601 011.
</p>

@code {

}
