@page "/"

<div class="nav flex-column">
    <a class="btn btn-lg btn-outline-secondary" href="http://ssvsqabrshc02.sassa.local" target="_blank"><span><img src="~/images/sassaicon.png" /></span>BRM LO</a>
    <a class="btn btn-lg btn-outline-secondary" href="http://ssvsqabrshc02.sassa.local" target="_blank">BRM RMC</a>
    <a class="btn btn-lg btn-outline-secondary" href="http://ssvsqabrshc02.sassa.local:81" target="_blank">BRM Reports</a>
    <a class="btn btn-lg btn-outline-secondary" href="http://ssvsqabrshc02.sassa.local" target="_blank">BRM Admin</a>
    <a class="btn btn-lg btn-outline-secondary" href="http://10.124.154.88/sassaongoing/ValidationLogin.aspx" target="_blank">Scan</a>
    <a class="btn btn-lg btn-outline-secondary" href="https://rsweb.tdw.co.za/oneilOrder/" target="_blank">RSWeb</a>
</div>
